body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f6f6;
}

.-btn {
  height: 32px;
  line-height: 32px;
  padding: 8px 10px;
  border: 1px #09afdf solid;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;

  &:hover {
    border: 1px transparent solid;
    background-color: #09afdf;
    color: #fff;
    text-decoration: none;
  }
}

&:after,
&:before {
  content: '';
}

.title__headline {
  position: relative;
  text-align: center;
  font-style: italic;

  &:before {
    content: '';
    position: absolute;
    border-bottom: 3px #09afdf solid;
    left: 30px;
    right: 30px;
    bottom: 0;
    top: 0;
    bottom: 10px;
    max-width: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 800;
    color: #09afdf;
    background-color: #fff;
    position: relative;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    text-transform: uppercase;
    font-style: italic;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }
}

.mm-title {
  color: #372a1e;
  font-weight: 400;
  font-size: 20px;
}

.mm-right.mm-opening .mm-menu.mm-fx-menu-slide {
  z-index: 999999;
}
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
