.work{
	padding-top: 55px;
	padding-bottom: 30px;
	.title__headline{
		h2{
			background-color: #f6f6f6;
		}
	}
	.js-blog{
		.owl-dots {
			text-align: center;
			position: relative;
			top: -30px;
			.owl-dot {
				width: 20px;
				display: inline-block;
				cursor: pointer;

				span {
					width: 10px;
					height: 10px;
					display: block;
					border-radius: 50px;
					border: 1px solid #09afdf;
					background: transparent;
				}

				canvas {
					display: none;
					position: absolute;
				}

				&.active canvas {
					display: block;
				}

				&.active,
				&:hover {
					border-radius: 50%;

					span {
						background-color: #09afdf;
					}
				}
			}
		}
	}
	&__centernav{
		max-width: 100%;
		width: 100%;
		min-height: 248px;
		background-image: url('../images/blog.png');
		background-repeat: no-repeat;
		position: relative;
		&:before{
			position: absolute;
			background-color: #000;
			opacity: .40;
			width: 100%;
			height: 100%;
		}
	}
	&__blog{
		position: relative;
		padding: 15px;
		h3{
			font-size: 23px;
			color: #fff;
			margin: 0;
			max-width: 285px;
			width: 100%;
			font-weight: 400;
			padding-top: 55px;
			padding-bottom: 60px;
		}
		.-btn{
			margin-left: 15px;
		}
	}
	&__example{
		width: 230px;
		height: 185px;
		margin-top: 40px;
	}
	&__button{
		text-align: center;
		display: block;
		margin-bottom: 35px;
		.-btn{
			color: #09afdf;
			max-width: 185px;
			width: 100%;
			display: inline-block;
			height: 35px;
			line-height: 35px;
			padding: 0;
			&:hover {
				border: 1px transparent solid;
				background-color: #09afdf;
				color: #fff;
				text-decoration: none;
			}
		}
	}
	.js-center{
		.owl-dots {
			text-align: center;
			position: relative;
			top: -20px;
			.owl-dot {
				width: 20px;
				display: inline-block;
				cursor: pointer;

				span {
					width: 14px;
					height: 14px;
					display: block;
					border-radius: 50px;
					border: 1px solid #09afdf;
					background: transparent;
				}

				canvas {
					display: none;
					position: absolute;
				}

				&.active canvas {
					display: block;
				}

				&.active,
				&:hover {
					border-radius: 50%;

					span {
						background-color: #09afdf;
					}
				}
			}
		}
	}
	&__plus{
		text-align: center;
		.title__headline{
			h2{
				background-color: #f6f6f6;
			}
		}
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;
			&:hover .flipper, &.hover .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);
			}
			background-color: rgb(254, 253, 253);
			width: 165px;
			height: 155px;
			text-align: center;
			margin-top: 30px !important;
			display: block;
			margin: 0 auto;
		}

		.front, .back {
			background-color: rgb(254, 253, 253);
			width: 165px;
			height: 155px;
			text-align: center;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;
			-o-transition: 0.6s;
			-o-transform-style: preserve-3d;
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			z-index: 2;
			padding-top: 15px;
			i{
				font-size: 50px;
				color: #000;
			}
			h4{
				font-size: 18px;
				font-weight: 400;
				color: #000;
			}
		}

		.back {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
			transform: rotateY(180deg);
			background: #fff;
		}

		.back p {
			position: absolute;
			bottom: 0;
			top: 10px;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 13px;
			padding: 0 15px;
		}
	}
	&__icon{
		background-color: rgb(254, 253, 253);
		width: 165px;
		height: 155px;
		text-align: center;
		padding: 15px;
		margin-top: 30px;
		@media (max-width: $screen-sm-max) {
			display: block;
			margin: 0 auto;
		}
		p{
			font-size: 13px;
			font-weight: 400;
			margin: 0;
		}
		i{
			font-size: 50px;
			color: #000;
		}
		h4{
			font-size: 18px;
			font-weight: 400;
			color: #000;
		}
	}
	&__acardeon{
		margin-top: 35px;
		.title__headline{
			margin-bottom: 25px;
			h2{
				background-color: #f6f6f6;
			}
		}
		.-hide_blog{
			display: none;
		}

		// .wrap {
		// 	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
		// 	border-radius: 4px;
		// }

		a {
			&:focus, &:hover, &:active {
				outline: 0;
				text-decoration: none;
				background-color: #09afdf;
				color: #fff !important;
			}
		}

		.panel {
			border-width: 0 0 2px 0;
			border-style: solid;
			border-color: transparent;
			background: none;
			box-shadow: none;
			&:last-child {
				border-bottom: none;
			}
		}

		.panel-group {
			> .panel:first-child .panel-heading {
				border-radius: 0;
			}
			.panel {
				border-radius: 0;
				+ .panel {
					margin-top: 0;
				}
			}
		}

		.panel-heading {
			background-color: #fff;
			border-radius: 0;
			border: none;
			color: #fff;
			padding: 0;
			&.active a{
				background-color: #09afdf !important;
				color: #fff !important;
			}
		}		

		.panel-title a {
			display: block;
			color: #000;
			padding: 8px 15px;
			position: relative;
			font-size: 16px;
			font-weight: 400;
			&:hover{
				color: #fff;
			}
		}

		.panel-body {
			background: #fff;
		}

		.panel-footer{
			border: none;
			text-align: right;
			background-color: #fff;
			a{
				color: #000;
				font-weight: bold;
				text-decoration: none;
				transition: all .3s;
				&:hover{
					color: #09afdf !important;
					background-color: transparent;
				}
			}
		}

		.panel:last-child {
			.panel-body {
				border-radius: 0;
			}
			.panel-heading {
				border-radius: 0;
				transition: border-radius 0.3s linear 0.2s;
				&.active {
					border-radius: 0;
					transition: border-radius linear 0s;
				}
			}
		}

		.panel-heading {
			a:before {
				content: '\f107';
				position: absolute;
				font-family: 'FontAwesome';
				right: 15px;
				top: 5px;
				font-size: 24px;
				color: #ddd;
				transition: all 0.5s;
				transform: scale(1);
			}
			&.active a:before {
				content: ' ';
				color: #fff;
				transition: all 0.5s;
				transform: scale(0);
			}
		}

		#bs-collapse .panel-heading {
			a:after {
				content: ' ';
				font-size: 24px;
				position: absolute;
				font-family: 'Material Icons';
				right: 5px;
				top: 10px;
				transform: scale(0);
				transition: all 0.5s;
			}
			&.active a:after {
				content: '\e909';
				transform: scale(1);
				transition: all 0.5s;
			}
		}


		#accordion .panel-heading {
			a:before {
				content: '\f106';
				font-size: 24px;
				position: absolute;
				font-family: 'FontAwesome';
				right: 15px;
				top: 5px;
				transform: rotate(180deg);
				transition: all 0.5s;
			}
			&.active a:before {
				transform: rotate(0deg);
				transition: all 0.5s;
			}
		}
	}

	&__bott{
		text-align: center;
		margin-top: 15px;
		.-btn{
			color: #09afdf;
			padding: 5px 15px;
			&:hover {
				border: 1px transparent solid;
				background-color: #09afdf;
				color: #fff;
				text-decoration: none;
			}
		}
	}
	&__tabls{
		h3{
			text-align: center;
			font-size: 20px;
			font-weight: 600;
			color: #2e3537;
			margin: 0;
			padding-top: 55px;
			padding-bottom: 25px;
		}
		.nav-tabs{
			border: none;
			position: relative;
			display: block;
			margin: 0 auto;
			max-width: 555px;
			width: 100%;
			@media screen and (max-width: 602px) {
				display: block;
				margin: 0 auto;
				max-width: 400px;
				width: 100%;
			}
			@media screen and (max-width: 446px) {
				max-width: 320px;
				width: 100%;
			}
			@media screen and (max-width: 366px) {
				max-width: 260px;
				width: 100%;
			}
			&:before{
				content: '';
				height: 4px;
				background-color: #09afdf;
				z-index: -1;
				max-width: 540px;
				left: 5px;
				right: 5px;
				width: 100%;
				position: absolute;
				top: 15px;
				@media screen and (max-width: 602px) {
					display: block;
					margin: 0 auto;
					max-width: 340px;
					width: 100%;
				}
				@media screen and (max-width: 446px) {
					max-width: 310px;
					width: 100%;
				}
				@media screen and (max-width: 366px) {
					max-width: 195px;
					width: 100%;
				}
			}
			li{
				padding-right: 95px;
				&:last-child{
					padding-right: 0;
				}
				@media (max-width: $screen-md-max) {
					padding-right: 70px;
					&:last-child{
						padding-right: 0;
					}
				}
				@media (max-width: $screen-sm-max) {
					padding-right: 95px;
				}
				@media screen and (max-width: 602px) {
					padding-right: 56px;
				}
				@media screen and (max-width: 446px) {
					padding-right: 36px;
				}
				@media screen and (max-width: 366px) {
					padding-right: 15px;
				}
				a{
					border: none;
					display: block;
					width: 33px;
					height: 33px;
					line-height: 31px;
					border: 1px #09afdf solid;
					border-radius: 10em;
					text-align: center;
					padding: 0;
					cursor: pointer;
					background-color: #fff;
					color: #09afdf;
					font-size: 20px;
					font-weight: 400;
				}
			}
		}
		.nav-tabs > li.active > a {
			color: #fff;
			background-color: #09afdf;
			border: 1px transparent solid;
			cursor: default;
			&:hover, &:focus {
				display: block;
				width: 33px;
				height: 33px;
				line-height: 35px;
				border: 1px #09afdf solid;
				border-radius: 10em;
				text-align: center;
				padding: 0;
				cursor: pointer;
			}
		}
		.tab-content{
			.tab-pane{
				h4{
					font-size: 20px;
					font-weight: 400;
					color: #2e3537;
					text-align: center;
					margin: 0;
					padding-top: 15px;
					padding-bottom: 25px;
				}
				p{
					font-size: 14px;
					color: #2e3537;
					font-weight: 400;
				}
			}
		}
	}
}
